/*

*/

.version.index /* version checker */
{
	color: #00001F;
	background-color: #6AAE87;
}

.html
{
	background: #FFFFFF url("../images/geometry.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu320
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u320
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
}

#u282-10
{
	z-index: 74;
	width: 231px;
	min-height: 135px;
	background-color: transparent;
	text-align: center;
	font-family: '__NovitoNova_5';
	font-weight: 400;
	margin-left: 6px;
	margin-top: 87px;
	position: relative;
}

#u282-2
{
	font-size: 50px;
	line-height: 60px;
	color: #D83F6E;
}

#u282-4,#u282-6
{
	font-size: 30px;
	line-height: 36px;
	color: #47ACAE;
}

#u282-8
{
	font-size: 50px;
	line-height: 60px;
	color: #F7931E;
}

#pu165-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: 262px;
}

#u165-6
{
	z-index: 3;
	width: 435px;
	min-height: 82px;
	background-color: transparent;
	line-height: 120px;
	text-align: center;
	font-size: 100px;
	font-family: '__NovitoNova_5';
	font-weight: 400;
	position: relative;
}

#u165
{
	color: #10A6C3;
}

#u165-2
{
	color: #ED1C24;
}

#u165-3
{
	color: #D83F6E;
}

#u173-4
{
	z-index: 9;
	width: 435px;
	min-height: 18px;
	background-color: transparent;
	line-height: 42px;
	text-align: center;
	font-size: 35px;
	color: #47ACAE;
	font-family: '__BravoRG_5';
	font-weight: 400;
	position: relative;
}

#widgetu180
{
	z-index: 13;
	width: 0.01px;
	height: 374px;
	margin-left: 10px;
	margin-top: 51px;
	position: relative;
}

#u189-4
{
	z-index: 14;
	width: 200px;
	min-height: 15px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 105px;
}

#widgetu180.frm-sub-st #u189-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u195-4
{
	z-index: 18;
	width: 200px;
	min-height: 15px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 105px;
}

#widgetu180.frm-subm-err-st #u195-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u190-4
{
	z-index: 22;
	width: 200px;
	min-height: 15px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 105px;
}

#widgetu180.frm-sub-st #u189-4,#widgetu180.frm-subm-err-st #u195-4,#widgetu180.frm-subm-ok-st #u190-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 19px;
}

#widgetu180.frm-subm-ok-st #u190-4 p
{
	color: #999999;
	text-align: center;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u196-17
{
	z-index: 26;
	min-height: 47px;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 123px;
	background: url("../images/u196-17.png") no-repeat 0px 0px;
}

#u196-17:hover
{
	background: url("../images/u196-17-r.png") no-repeat 0px 0px;
}

#u196-17:active
{
	background: url("../images/u196-17-m.png") no-repeat 0px 0px;
}

#widgetu180.frm-sub-st #u196-17
{
	background: url("../images/u196-17-fs.png") no-repeat 0px 0px;
}

#widgetu191
{
	z-index: 43;
	width: 414px;
	height: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#widgetu191.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 414px;
	height: 196px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194-4
{
	z-index: 44;
	width: 258px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	text-align: center;
	font-size: 25px;
	color: #29ABE2;
	font-family: '__BravoRG_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#widgetu191.fld-err-st #u194-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 258px;
	margin: 0px -10000px 0px 0px;
}

#u192-4
{
	z-index: 48;
	width: 398px;
	min-height: 152px;
	border-width: 2px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 7px;
	padding: 6px;
	line-height: 20px;
	font-size: 20px;
	color: #F6B92C;
	font-family: '__BravoRG_5';
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#widgetu191.non-empty-st #u192-4
{
	border-color: #F6B92C;
	background-color: #FFFFFF;
}

#widgetu191:hover #u192-4
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 152px;
	width: 398px;
	margin: 28px -10000px 0px 0px;
}

#widgetu191.fld-err-st #u192-4
{
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 152px;
	width: 398px;
	margin: 28px -10000px 0px 0px;
}

#widgetu191.non-empty-st #u192-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu191:hover #u192-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu191_input,#widgetu191_prompt
{
	width: 398px;
	min-height: 152px;
	color: #ed128e;
	font-family: '__BravoRG_5';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu197
{
	z-index: 52;
	width: 419px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: -2px;
}

#widgetu197.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 419px;
	height: 64px;
	min-height: 0px;
	margin: 210px -10000px 0px 0px;
}

#u199-4
{
	z-index: 53;
	width: 258px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 25px;
	text-align: center;
	font-size: 25px;
	color: #29ABE2;
	font-family: '__BravoRG_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#widgetu197.fld-err-st #u199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 258px;
	margin: 0px -10000px 0px 0px;
}

#widgetu191.fld-err-st #u194-4 p,#widgetu191.fld-err-st #u194-4 span,#widgetu197.fld-err-st #u199-4 p,#widgetu197.fld-err-st #u199-4 span
{
	color: #D7244C;
}

#u200-4
{
	z-index: 57;
	width: 403px;
	min-height: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 7px;
	padding: 6px;
	line-height: 20px;
	font-size: 20px;
	color: #F6B92C;
	font-family: '__BravoRG_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#widgetu197.non-empty-st #u200-4
{
	border-color: #F6B92C;
	background-color: #FFFFFF;
}

#widgetu197:hover #u200-4
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 403px;
	margin: 28px -10000px 0px 0px;
}

#widgetu197.fld-err-st #u200-4
{
	-pie-box-shadow: none;
	box-shadow: none;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 403px;
	margin: 28px -10000px 0px 0px;
}

#widgetu197.non-empty-st #u200-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu197:hover #u200-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu191.fld-err-st #u192-4 *,#widgetu197.fld-err-st #u200-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu197_input,#widgetu197_prompt
{
	width: 403px;
	min-height: 20px;
	color: #ed128e;
	font-family: '__BravoRG_5';
	font-size: 20px;
	font-weight: 400;
	padding: 6px;
}

#widgetu191:hover #widgetu191_input,#widgetu191.fld-err-st #widgetu191_input,#widgetu191:hover #widgetu191_prompt,#widgetu191.fld-err-st #widgetu191_prompt,#widgetu197:hover #widgetu197_input,#widgetu197.fld-err-st #widgetu197_input,#widgetu197:hover #widgetu197_prompt,#widgetu197.fld-err-st #widgetu197_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu191.non-empty-st #widgetu191_prompt,#widgetu191.focus-st #widgetu191_prompt,#widgetu197.non-empty-st #widgetu197_prompt,#widgetu197.focus-st #widgetu197_prompt
{
	visibility: hidden;
}

#u330
{
	z-index: 86;
	width: 66px;
	height: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 723px;
}

#pu209
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -15px;
	margin-left: 830px;
}

#u209
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u281
{
	z-index: 63;
	width: 232px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 39px;
	position: relative;
}

#u279-6
{
	z-index: 64;
	width: 229px;
	min-height: 72px;
	background-color: transparent;
	text-align: center;
	font-family: '__NovitoNova_5';
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u279-2
{
	font-size: 36px;
	line-height: 43px;
	color: #D83F6E;
}

#u279-4
{
	font-size: 60px;
	line-height: 72px;
	color: #10A6C3;
}

#u280-4
{
	z-index: 70;
	width: 226px;
	min-height: 68px;
	border-width: 3px;
	border-style: solid;
	border-color: #ed128e;
	background-color: transparent;
	border-radius: 7px;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	color: #ed128e;
	font-family: '__NovitoNova_5';
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u280-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #ed128e;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 68px;
	width: 226px;
	margin: 11px 0px 0px;
}

#u280-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u380-4
{
	z-index: 70;
	width: 226px;
	min-height: 68px;
	border-width: 3px;
	border-style: solid;
	border-color: #1264ed;
	background-color: transparent;
	border-radius: 7px;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	color: #1264ed;
	font-family: '__NovitoNova_5';
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u380-4:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #1264ed;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 68px;
	width: 226px;
	margin: 11px 0px 0px;
}

#u380-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}


#pu546
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 538px -10000px -26px -100px;
}

#u546
{
	z-index: 174;
	width: 524px;
	background-color: transparent;
	margin-left: 318px;
	position: relative;
}

#u369
{
	z-index: 2;
	min-height: 45px;
	background-color: #FFFFFF;
}

#u369_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u331
{
	z-index: 170;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 172px;
}

#u367
{
	z-index: 87;
	width: 615px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 272px;
}

#u356-4
{
	z-index: 88;
	width: 190px;
	min-height: 4px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	color: #7F7F7F;
	font-family: '__Kelson Sans RU_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 212px;
}

#u356-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 4px;
	width: 190px;
	margin: 17px -10000px 0px 0px;
}

#u356-4:hover p
{
	color: #000000;
	visibility: inherit;
	font-size: 12px;
}

#u366
{
	z-index: 92;
	width: 615px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u363-4
{
	z-index: 166;
	width: 615px;
	min-height: 8px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	color: #7F7F7F;
	position: relative;
}

#pamphletu337
{
	z-index: 93;
	width: 0.01px;
	height: 24px;
	margin-left: 212px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u351
{
	z-index: 94;
	width: 190px;
	position: relative;
	margin-right: -10000px;
}

#u352
{
	position: absolute;
	width: 190px;
	height: 24px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u330,.ie #u352
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u352:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 189px;
	height: 23px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u352:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u352:active
{
	border-style: none;
	border-color: #7F7F7F;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 190px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

.ie #u352:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u340
{
	position: absolute;
	width: 1004px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: -630px;
	left: -407px;
	-pie-background: rgba(255,255,255,0.9);
}

#u340popup
{
	z-index: 96;
}

#u341
{
	z-index: 97;
	width: 960px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u341:hover
{
	background-color: transparent;
	width: 960px;
	height: 650px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u364-63
{
	z-index: 98;
	width: 960px;
	min-height: 641px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	position: relative;
	margin-right: -10000px;
}

#u364-2
{
	text-align: center;
	font-weight: bold;
}

#u364-29
{
	font-size: 11px;
}

#u338
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 5px;
	top: -625px;
	left: 568px;
}

#u338:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u338:active
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #6B6B6B;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u339-4
{
	z-index: 162;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #000000;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u357
{
	z-index: 172;
	width: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 900px;
}

#u369-bw
{
	z-index: 2;
	min-height: 45px;
	margin-top: 4px;
}

@font-face
{
	font-family: '__BravoRG_5';
	src: url('../fonts/bravorg.eot');
	src: local('☺'), url('../fonts/bravorg.woff') format('woff'), url('../fonts/bravorg.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Kelson Sans RU_5';
	src: url('../fonts/kelsonsans-lightru.eot');
	src: local('☺'), url('../fonts/kelsonsans-lightru.woff') format('woff'), url('../fonts/kelsonsans-lightru.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__NovitoNova_5';
	src: url('../fonts/novitonova-regular.eot');
	src: local('☺'), url('../fonts/novitonova-regular.woff') format('woff'), url('../fonts/novitonova-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -537px;
}


